results/output/batch** filter=lfs diff=lfs merge=lfs -text
results/output/batch*/* filter=lfs diff=lfs merge=lfs -text
output/* filter=lfs diff=lfs merge=lfs -text
results/output/ filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__17:51:30amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__17:51:30fig1.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__17:51:30global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas18/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__20:57:25amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas18/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__20:57:25global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas20/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-08__00:04:18amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas20/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-08__00:04:18global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas22/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-08__03:12:47amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas22/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-08__03:12:47global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas24/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-08__06:21:53amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas24/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-08__06:21:53global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas25/* filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas26/* filter=lfs diff=lfs merge=lfs -text
results/output/batch_2024-02-06___13:48:44.021394/amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/batch_2024-02-06___13:48:44.021394/global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/batch_2024-01-21___11:53:23.358679/2024-01-21___12:24:20.100879_cvxr_Nmeas_20_solution.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__17:51:30fig2.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas18/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__20:57:25fig1.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas18/Nfi_288_Nfr_64_rL1_0_msa_1000_mbf_10_nrep_100_batch_2024-02-07__20:57:25fig2.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_1_msa_500_mbf_10_nrep_20_batch_2024-02-11__21:36:56fig2.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_1_msa_500_mbf_10_nrep_20_batch_2024-02-11__21:36:56global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_0_msa_500_mbf_10_nrep_20_batch_2024-02-11__20:45:24amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_0_msa_500_mbf_10_nrep_20_batch_2024-02-11__20:45:24fig1.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_0_msa_500_mbf_10_nrep_20_batch_2024-02-11__20:45:24fig2.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_0_msa_500_mbf_10_nrep_20_batch_2024-02-11__20:45:24global_settings.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_1_msa_500_mbf_10_nrep_20_batch_2024-02-11__21:36:56amm_all.RDS filter=lfs diff=lfs merge=lfs -text
results/output/Nmeas16/Nfi_288_Nfr_256_rL1_1_msa_500_mbf_10_nrep_20_batch_2024-02-11__21:36:56fig1.RDS filter=lfs diff=lfs merge=lfs -text
